<div class="center">
    <div class="login-box">
        <div class="login-form">
            <h3>Please login here</h3>
            <form action="/action_page.php">
                <label for="username">username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">password:</label><br>
                <input type="text" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>